<ul class="list-group mb-3">
    <li class="list-group-item" *ngFor="let sentence of sentences | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }"> 
        <div class="d-flex justify-content-between"> 
            <span>{{ sentence.sentence }}</span>
            <span>
                <button class="btn btn-sm btn-danger" (click)="deleteSentence(sentence)"><i class="bi bi-trash"></i></button>
            </span>
        </div>
    </li>
</ul>

<pagination-controls class="sentences-pagination" 
    nextLabel=""
    previousLabel=""
    (pageChange)="page = $event">
</pagination-controls>